.game-board {
    width: 480px;
    height: 480px;
    border-radius: 10px;
    background-color: #bbada0;

    margin-top: 20px;
    position: relative;
}

.block-spawn-enter{
    opacity: 1;
    transform: scale(1);
}

.block-spawn-enter-active{
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s;
}
